body {
	margin: 0;
	padding: 0;
}

header {
	min-width: 400px;
	position: fixed;
	width: 100%;
	height: 82px;
	background-color: #e64d00;
	display: block;
	top: 0;
	z-index: 999;
}

#menu {
	position: relative;
	display: block;
}

#logo {
	float: right;
	position: absolute;
	right: 2%;
	font-size: 60px;
	padding: 6px 0px;
	margin-top: -15px;
}

#normal_menu li {
	float: left;
	margin-right: 2%;
	margin-top: -15px;
	list-style-type: none;
}

#menu a {
	display: block;
	text-decoration: none;
	color: #FFF;
}

#normal_menu a {
	text-align: center;
	width: 80px;
	margin: 0;
	padding: 31px 20px;
}

#normal_menu a:hover {
	background-color: #ff661a;
}

#dropdown_menu {
	display: none;
}

.error_message {
	display: block;
	margin: 0;
	padding: 0;
}

footer {
	min-width: 400px;
	background-color: #e64d00;
	height: 82px;
	width: 100%;
	position: fixed;
	display: block;
	clear: both;
	bottom: 0;
	z-index: 999;
}

footer span {
	color: #FFF;
	font-size: 20px;
	position: absolute;
	top: 30px;
	left: 45%;
}

@media (max-width: 900px) {
	#normal_menu {
		display: none;
	}

	#dropdown_menu {
		display: block;
		position: relative;
	}

	#dropdown_menu span{
		position: absolute;
		color: #FFFFFF;
		font-size: 30px;
		width: 80px;
		margin: 0;
		padding: 23px 20px;
		left: 20px;
		top: -16px;
		text-align: center;
	}

	#dropdown_menu li {
		list-style-type: none;
	}

	#dropdown_menu span:hover{
		background-color: #ff661a;
	}

	#sub_menu:hover ul {
		display: block;
	}

	#sub_menu ul {
		display: none;
		position: absolute;
		top: 66px;
		left: -20px;
		text-align: center;
	}

	#sub_menu ul li {
		display: inline-block;
	}

	#sub_menu a {
		display: block;
		color: #ff661a;
		width: 120px;
		height: 30px;
		padding-top: 10px;
	}

	#sub_menu a:hover {
		background-color: #ffddcc;
	}
}

@media (max-width: 530px) {
	#sub_menu ul li {
		display: block;
	}
}
